@import './../../styles/fonts.scss';

#home{
    display: flex;
    margin-top: 20px;

    .contentWelcome{
        flex: 1;
        padding-top: 90px;
    }

    .contentComputer{
        flex: 1;
        text-align: center;

        img{
            width: auto;
            height: auto;
            max-height: 400px;
            background-color: #fff;
            transform: scaleX(-1);
            max-width: 100%;
        }
    }
}

@media (max-width: 600px) {
    #home{
        display: block;

        .contentWelcome{
            text-align: center;
        }
        .contentComputer{
            img{
                max-width: 280px;
                margin-top: 20px;
                width: 100%;
            }
        }
    }
}