@import './../../styles/fonts.scss';

.contentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentLogo{
        flex: 1;
        margin-right: auto;
        flex-grow: 1;

        .logo{
            width: 100%;
            max-width: 250px;
            background-color: #fff;
            padding: 5px;
        }
    }
    .contentActions{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a{
            font-weight: bold;
            text-decoration: none;
            color: #050013;

            &:hover{
                color: $color-blue;
            }
        }
        a,button{
            margin: 0 20px;
        }
        button{
            margin-right: 0;
        }

    } 
}

@media (max-width: 600px) {
    .contentHeader{
        font-size: 16px;
        display: block;
        padding: 10px;
        
        .contentLogo{
            text-align: center;
            padding: 10px;
        }
        .contentActions{
            justify-content: center;
            padding: 10px;

            a,button{
                margin: 0 10px;
            }
        }
    }
  }
