@import './../../styles/fonts.scss';

.contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 52px;
    padding: 60px 60px 0 60px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: transparent;
    transition: all 0.3s;

    .contentLogo {
        flex: 1;
        margin-right: auto;
        flex-grow: 1;

        .logo {
            width: 100%;
            max-width: 250px;
            background-color: #fff;
            padding: 5px;
        }
    }

    .contentActions {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            cursor: pointer;
            font-weight: bold;
            text-decoration: none;
            color: #050013;

            &:hover {
                color: $color-blue;
            }
        }

        a,
        button {
            margin: 0 20px;
        }

        button {
            margin-right: 0;
        }

        .bulletFav{
            font-weight: bold;
            background-image: url('../../assets/star_active.svg');
            font-size: 13px;
            background-repeat: no-repeat;
            padding: 16px 18px;
            background-size: contain;
        }
    }
}

.contentHeader.sticky {
    position: fixed;
    background: #fff;
    z-index: 100;
    padding: 15px 60px 15px;
    box-shadow: 0 0 10px 3px #f2f2f2;
}

@media (max-width: 800px) {
    .contentHeader{
        padding: 40px 30px 0 30px;
    }
}
@media (max-width: 700px) {
    .contentHeader{
        padding: 20px 10px 0 10px;
        .contentActions {
    
            a,
            button {
                margin: 0 10px !important;
            }
        }
    }
}
@media (max-width: 600px) {
    .contentHeader {
        font-size: 16px;
        display: block;
        height: auto;
        padding: 10px;

        .contentLogo {
            text-align: center;
            padding: 10px;
        }

        .contentActions {
            justify-content: center;
            padding: 10px;
            padding-bottom: 0;
            display: block;
            text-align: center;

            a,
            button {
                margin: 7px !important;
                padding: 7px !important;
                outline: none;
            }
        }
    }
    .contentHeader.sticky {
        padding: 10px;
        padding-bottom: 0;
    }
}