@import './../../styles/fonts.scss';

.contentHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .contentLogo{
        flex: 1;
        margin-right: auto;
        flex-grow: 1;
        padding: 60px 20px 20px 60px;

        .logo{
            width: 100%;
            max-width: 250px;
        }
    }
    .contentActions{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 60px 60px 20px 20px;

        a{
            font-weight: bold;
            text-decoration: none;
            color: #050013;
        }
        a,button{
            margin: 0 20px;
        }
        button{
            margin-right: 0;
        }

    } 
}

// STYLES FOR TABLETS
@media (max-width: $max-width-cel) {
    .contentHeader{
        display: block;
        .contentLogo{
            text-align: center;
            padding: 25px 10px 10px;
        }
        .contentActions{
            padding: 0;
            justify-content: center;
            padding: 0 10px 15px 10px;

            a,button{
                margin: 0 10px;
            }
        }
    }
  }
